@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;     
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3a4a63; 
  border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4e5f7c;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3a4a63 transparent;
}

.link{
  text-decoration: none !important;
  color: lightblue !important;
  cursor: pointer;
}

:hover.link{
  text-decoration: underline !important;
}